* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


html {
    scroll-behavior: smooth;
}

 .text-primary {
     color: #0D1D33;
  }
  
 .bg-light {
    background: white;
    color: grey;
}
.bg-dark {
   background: grey;
   color: white;
}
.bg-primary {
    background: #0D1D33;
    color: white;
}
  body {
    font-family: 'Sansita Swashed', cursive;
     line-height: 1.4;
 } 
 
.l-heading {
    font-size: 4rem;
    margin-bottom: 0.75rem;
    line-height: 1.1;
 }
 
.m-heading {
    font-size: 2rem;
    margin-bottom: 0.75rem;
    line-height: 1.1;
 }
 .lead {
     font-size: 1.3rem;
     margin-bottom: 2rem;
 }
  .py-1 { padding: 1.5rem 0;}
  .py-2 { padding: 2rem 0;}
  .py-3 { padding: 3rem 0;}


  .p-1 { padding: 1.5rem;}
  .p-2 { padding: 2rem;}
  .p-3 { padding: 3rem;}

 .btn {
   display: inline-block; 
   color: white; 
   background: #0D1D33;
   padding: 0.5rem 2rem;
   border: none;
   border-radius: 5px;
   
 }
 .btn:hover {
    background: #1d3352;
 }
 .btn-dark {   
     background: grey;
     color: white;
 }
 .list {
     margin: 0.5rem 0;
     list-style: none;
 }
 .list li {
   padding: 0.5rem 0;  
   border-bottom: #444 dotted 1px;
 }

 .logo img {
     width: 50px;
 }

#navbar { 
    position: sticky;
    top: 0;
    background: grey; 
    color: white;
    display: flex;
    justify-content: space-between;
    z-index: 1;
    padding: 1rem;
}

a {
    text-decoration: none;
}
p {
    margin: 0.75rem 0;
}
.container {
    max-width: 1100px;
    margin: auto ;
    padding: 0 2rem;
    overflow: hidden;

}
.text-center {
    text-align: center;
}
#navbar ul {
    display: flex;
    align-items: center;
    list-style: none;
} 

#navbar ul li a {
    color: white;
    padding: 0.75rem;
    margin: 0 0.25rem;
 
}

#navbar ul li a:hover {
    background: #0D1D33;
    border-radius: 5px;
} 

#showcase {
    background: url(./img/www.jpg) no-repeat center center/cover;
    height: 100vh;
    color: white;
}

#showcase .showcase-content {
   display: flex; 
   flex-direction: column;
   text-align: center;
   justify-content: center;
   align-items: center;
   height: 100%;
   padding:0 2rem;
   position: absolute;
   top: 65px;
   left: 0;
   right: 0;
   bottom: 0;
   background: rgba(0,0,0,0.4);
  
}


/* section : what we do */
#what .items {
    display: flex;
    padding: 1rem;
}

#what .items .item {
    flex: 1;
    text-align: center;
    padding: 1rem;
}
#what .items .item i {
    background:#0D1D33;
    padding: 1rem;
    border-radius: 50%;
    margin-bottom: 1rem;
}
/* section :who we are*/
#who {
    display: flex;
}
#who div {
    flex: 1;
    padding-left: 2rem;

}
#who .who-img {
    background: url(./img/hotel-3.jpeg) no-repeat center center/cover;

}


/* clients */
#clients .items {
    display: flex;

}
#clients .items img {
    display: block;
    margin: auto;
    width: 60%;

}


/* section contact */

#contact {
    display: flex;
    justify-content: space-between;
    background: #0D1D33;  
}

#contact .map {
    width: 50%;
  
}

#contact .contact-from input,
#contact .contact-from textarea {
    width: 100%;
    padding: 0.5rem;
  

    
}

/* Footer */
#main-footer {
    text-align: center;
    background: #444;
    color: #fff;
    padding: 20px;
  }
    